:host{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-counter{
    width: max-content;
    margin: auto;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lemonchiffon;
}
.title, .secondery-text{
    text-align: center;
}
.container-btns{
    display: flex;
    justify-content: space-around;
}
button{
    padding: 5px;
    background-color: cornsilk;
    border-radius: 3px;
}