<div class="rock-paper-scissors-container">
  <!-- title -->
  <h1 class="title">Rock, Paper, Scissors Game</h1>
  <hr />
  <!-- user choices -->
  <p class="text-center">User Choice:</p>
  <div class="choices-container">
    @for(choice of gameChoices; track index; let index = $index){
    <div
      class="choice"
      [class.selected]="userChoice === choice"
      (click)="onUserChoice(choice)"
      [style.cursor]="loading ? 'not-allowed' : 'pointer'"
    >
      <img
        src="/icons/{{ choice }}.png"
        alt="{{ choice }} icon"
        title="{{ choice }}"
      />
    </div>
    }
  </div>
  @if(userChoice){
  <!-- computer choice -->
  <p class="text-center">Computer choice:</p>
  <div class="choice computer-choice">
    @if (loading) {
    <img
      src="/gifs/loading.gif"
      alt="loading gif"
      title="loading"
      height="50"
      width="50"
    />
    } @if (!loading && computerChoice) {
    <img
      src="/icons/{{ computerChoice }}.png"
      alt="{{ computerChoice }} icon"
      [title]="computerChoice"
    />
    }
  </div>
  <!-- result -->
  <div class="result">
    <p class="text-center">{{ gameOutcomeText }}</p>
  </div>
  <p class="text-center small">(make choice to play again)</p>

  }
</div>
