:host{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-card{
    width: max-content;
    margin: auto;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lemonchiffon;
}
.title{
    text-align: center;
}
input{
    width: 95%;
    margin: 5px auto;
    border-radius: 3px;
    padding: 5px;
}